<pre class="ascii-graphic aahub_light" aria-hidden="true">
　　　　　　　　　　　　＿　＿ _
　　　　　　　　　_ r「　 i　」 _　i ｀y､
　　　　　　　　f　 k　 ´　　　　＞ ､7ゝ
　　　　　　　「　У　　　　　　　　　 ヽ'
　　　　　　く Ｖ　　　　/　　　　　　l　　ヽ
　　　　　 j　　i　　　 ./　/　　/　　 .}　　ﾊ
　　　　　 i　　{　　　/　ﾊ　 ｲ　　　/ .}　 ﾊ
　　　　　/　　l　　 ｲ/jﾉ jハj　　 ｲl　ﾊ　　}   Whoah anon --- you have a ** Ryzen 9900XT MEGARIPPER ** ????
　　　　 /　　 l／ l.斥示ｧ　l　 ／ ﾘjﾊｲ ﾊj   
　　　　/ｲ ,　　l Y.ﾊ之ｿ　 j／斥ﾃｧ　ｲノ          I bet you can render like 50.000.000 React components per second ...
　　　　　i/ i　, ﾊY)　　　　 丶ー'/イ ﾊj
　　　　　　 l/V[X]个.､　` ‐　 イ Yﾉ 　　　　　　　　　　　_＿_
　　　　／´⌒lｰiﾘｰ ､　｀r ≦ヾj(YﾉY　　　　　　　　　　/´:::::::::::｀ヽ
　　 ／ 　　　　j::｀::K 7ヽ/ 」　 ヽr､] 　　　　　　　_＿ /::::::ヽ::::::::::::::::ヽ
　　 l 　　　　　ｲ:::::::::l　　「 ム ゝノ:::ヽ　　　 ,.＜´:::::::::ヽ:::::::::::::::::::::::::::::::＼
　　 弋 　＿　ｨ' l:::::::::ｰ-- ´Lヾヽ::::::::ヽ　 ./:::::::::::::::::::::::}:‐-､::::::::::::::::::::::::::::ヽ
　　　　[　　_]　 i::::::::::::::::::::::::::::::::::::::::::::j　 /::::､:::::::::::::::::::i:::::::::ヽ::::::::::::::::::::::::::::::＼
　　　　l ￣ .rl　 l::::::::::::::::::::::::::::::::::::::::::ﾉ　/::::::｀}::::ヽ::::::::::',:::::::::::::iヽ:::::::::::::::::::::::::::::::ヽ
　　　　l-='´'l､　i:::::::::::::::::::::::::ノ::::::::::::::У:::::::::::i::::::::::::::::::::,:::::::::::::l　 ｀　 ､:::::::::::::::::::::::::＼
　　　　ﾄ-=-'l:ﾊj:::::::::::::::::::::::::::::::::::::::::::/:::::::::::::::l:::::::::::::::::::::,:::::::::::::i　　　　`　 ､::::::::::::::::::::ヽ
　　　　l‐--‐ｲ　ヽ:ヽ::::::::::::::::::::::::::::::::,::::::::::::::::::',::::::::::::::::::::,::::::::::::::!　　　　　　｀　､:::::::::::::::::＼
　　　　i:::::::::::l　　　ヽヽ::::::::::::::::::::::::::i:::::::::::::::::::::,::::::::::::::::::::l:::::::::::ｲl〉　　　　　　　　`　､::::::::::::::ヽ
　　　 ,'::::::::::::i　　　　ヽ:::::::::::::::,＜〃l::::::::::::::::::::::l::::::::::::::::::::l=＝':.:.:lヽ　　　　　　　　　 ｀ ､:::::::::::::＼
　　　 {::::::::::::l　　　　　 ヾ弋彡:::::fﾊ:lゝ､_＿＿_ム::::::::::::::::::l:.:.:vvノlﾊヽ　　　　　　　　　　 ヽ:::::::::::::ヽ
　　　 l:::::::::::,'　　　　　　　V::::::::j/::::::〉:.:.:.:.:.:.:.:.:.:.:.:.',::::::::::::::::l=-ﾋj　.ﾙl{'´　　　　　　　　　　　 ヽ:::､:::::::::ヽ
　　　 l::::::::::/　　　　　　　 ヽj:::ハ:::ｲ` ､_＿＿_vvム::::::::::::::l　 ||　ﾉ ゞﾊ　　　　　　　　　　　　 .ヾ:､:::::::::::ヽ
　　　l::::::::/　　　　　　　　　}::ヽ::r'´{　　　　　 ﾋj　 .',:::::::::::::l　.jjノ　　{:ﾉ　　　　　　　　　 　　　　　V::::::::::::::＼
´｀ヽ.i:::::::/　　　　　　　　　 l::::::ゝヽ }　　　　　 ll　　 ',::::::::::::lイ´ ヾ　 〉}　　　　　　　　　　　　　　 ゝ､::::::::::::::::＼
::::::r'{::::::/　　　　　　　　　　{::::＼:::} 〉　　　　　jj　　　}:::::::::::',ヾ　 ｀ ﾉ:::〉　　　　　　　　　　　　　　　　`ヽ:::::::::::::::ヽ
`,:::::::::_/　　　　　　　　　　 廴:::::个〉ヽ､　　　ﾉ　　／ !::::::::::::ヽ　 〃:::/　　　　　　　　　　　　　　　　　　 ヽ:::::::::::::::
</pre>
