<pre class="ascii-graphic aahub_light" aria-hidden="true">
　　　　　　　　 　 ． - ── ‐ - ..
　　　　　　　 . . : : : : : : : : : : : : : : ｀　 ．
 　　　　　 ／: : : : : : : : : : : : : : : : : : : : :＼
　　　 　 /: : : : : : : : : : : : : : : : : : : : : : : : :ヽ
 　　 　 /: : : : : : : : : :/: : : : : : : : : : :: : : : : :∧
　　　 /: : : : : : !:ｌ.l:､∧: : }: : : : ﾄ,: : ／: :!: : : : :.
　　　.': : ｉ: :ｌ: : :|从/＼{:/: : : : :l| ×: : : :! : : : : i
　 　 ｉ: : :|: :{: : :|{/　　 厶ィ: : : ﾘ　　＼:.:|: : : : : !
　 　 |／:|: : 、 卞Z=ｚﾐ　 |: : :/ ィ=Zｵｱ:|: : : ､ :|
　　　　　|: :|:.:Ⅵ V込ｿ　 |:／　 t込y' ﾚ|: : : :Ⅳ
　　　　　|:/|: : :|　　 　 　 ′　　　　　　,|: : : :'
　　　　　|'’|: : :{＼　　　　　_ 　 　 　 .ｲ:|: ∧{
　　　 　 　 |: : 从: 〕ト　　　　｀ ...::＜: :|:.|/l川          written by: mic0, dated: {{ date_str }}
  　 　 　 　 ＼:{　ハｌ　≧i ー‐ l:／ﾚl/.ル′
　　　　　　　　　 　 ／:.:lﾉ 　 　 Y:. ＼i´ !
　　　　　　　　x=≦{: : :.廴＿_　’:.:.:/ |　|ｘ
　　　　　　 ／{:.l l:.l l:.:.:∧　 　 /:.:.//_|　ト､:}}
 　　 　 　 / 　 Ⅵ:.:l l:.:.:.:∧　 /:.:./.ｲ　　　　ヽ
　　 　 　 ′　　ヾ:.:ヽ＼:.:.:l　 l:.:..:〈　　　　　 八
　　　　 ,'　　 　 　 ＼:.:.:.》:.!　.l=彡ﾍ ＿＿_.厶li}
 　　　　i　　　　´￣￣厂￣￣＞仁二二二二ｵ
 　　　　|　　　　　　　　　　　/:l／` ー──　 ∧
 　　　　|　　　 、　　　 　 　 {:八　 　 　　　　　 ﾉ
　 　 　 廴_＿　＼　　 　 　 !:.:.∧　　　　　/　/
　　　　　　　　}￣｀7ー‐┬‐≧=-}　 　 　 　 .′
　　　　　　　 ﾉ　 ./:.:.:.:／　　＼:八　　　　 .ｲ
　　　　　　　＼　　￣　　　　　　￣　ー一 ./
</pre>
