<pre class="ascii-graphic aahub_light">
:::::::::::::::::::::::::::::::::::::::::::::＼　 　          　　                                    　　 /: : : : : : : : : : : :
::::::::::::::::::::::::::::::::::::::::::::::::::::＼　        　　　                                  　　/i: :l.:l.: :|.:|: :l: :l: : :
::::::|:::::::|::l:::|:::l:|:::::::|::::::::::::::::::丶　　　　  　  　　                                 l::l : :|.:|: :|.:l: :|: :|: : :
l:::::lﾊﾊl|::|::|:::l:|l::ｌ:::|::l::i:::::::::::l::l:l　 　　　　 　 　　 　　　　　　　　　　　　　　l:::l､: :l.:|: :l.:|: :|: :|: : :
Ⅳl_｣｣|lVlVVﾘリﾙLlﾄl:::::::::::Nﾉ　 /　{　___ |　＿j　　　　　　　　　　　　　　|:::N: :|.:k=lキ〒.:|: :
__ｆ'´=ｪｭﾐY__Yｲrｪ=lﾄﾊノ,ﾊﾉ　　/　､j, ´⌒ｌ　￣l`‐-､　　　　　　　　 　 　 |:::| l＼l|＼lヽ ヽﾊ: :l
　ヽ ￣＾ ﾊ｀ﾊ~￣　ﾉ ｒ┴──'─ -|　　_,|　__ l-‐'‐ヽｰ--------┐　　 |:::!　　 　 ﾊ、　{　V
　　｀ｰ‐''l　　 l`ー'´　|　　　　　　 　 、l⌒l j⌒|　　　　　　　　　　　ｌ　　　l::| 　 　 /　l〉
ヽ、 　 ,rｊ　　 ﾄ､ 　 ノ|　written by　ヽーﾍ､_ﾉ　　　　mic0　　　　 |　 　 ヾ!　　, '　 /
:::::ヾ ,人_、 　ｊ丿 ｲ.:.:l　　　　　　　　　　　　 ｌ　　　　　　　　　　　　l　　 　 l!_／　　′
::::.:.ｊ　 ,.-､二,.-､　}.:.::|　 　　 dated　　　　　|　 　 {{ date_str }}　 ヽ
::::.:.{ ノ‐'亠亠'-ヘｌ.:.::|－───－───┼－───－──－|　　　　　 ｀)
:::::.:｀ヽ､__,.--､__,ﾝ ::/|　　　　　　　　　 　 　 | 　 　 　 　 　 　 　 　 l　　　　　　｀ヽ-､
ヽ::::.:.:'''""""""'''.:.//l　　Thank you for 　 l　 your attention 　 |　　 　 　 　 （
::::ヽ:.:.:　冫__.　..::/:ﾊ |　　　　　　 　 　 　 　│　　　　　　　　　　　│　　　　 　 　 ヽ.
　::::＼:.:.:......:.:.:.ノ:: .:::}ｌ　 　　　to this　　　　ｌ　　　　matter! 　　　!　　　　　　　　　!
　　:::::::::￣￣::::　　/ |－───－───┼─－───－──| 　 　 　 　 　 　 ヽ、 　 _,. -
ヽ　　　　　　　　 /　ﾊ　　　　　　　　　　　　|　　　 　 　 　 　 　 　 l　　　　　 　 　 　 　 ￣

</pre>
