<pre class="ascii-graphic aahub_light" aria-hidden="true">
|""'''* x...._　　　　　　 ,i　　　　　 　_*'"_*'""':} |
| {￣:":+:x.."''‐-z＿／└"'{＿_x*'"x*'": : : : :,'.}
'. ': : : :＿ゝ:￣:￣:　　　　　　　￣Z_ノi: : : : : ｿi
.', .'; : :＼: : : : : :　　　　　　　　　　　　Ｚ: : :」´,'
. ,　';::∠_: : : 　　　　　　　　　　　　　　 ｀ゝ　/
　ゞ、';/: : :　　　　　　　　　　　　　　 　 　 }ｿ
　 　Y: : :　　　<○>　　　　 <○>　　　　　ゝ、
　　/: : :　　 　 "'"´　 .┳ 　"'"´　　　　　　ﾍ
　/／: :　ー──　　　人　　　───　　　f´                written by: mic0, dated: {{ date_str }}
　´/ .,　 ー──　 　.'"""'' 　　───　＿｀ヽ
.∠_x"　 xーz_　　　　　　　.　、　 　,x'"^ゝ、￣
　＜　''"　　　 ヽ　 , 　 　 .／/ノｿ''"　　　＞
　∠＿、　r、　　＼}｀ヽ／　 ´　　　　/| }^＼
　/　　Ｚ_ノ　}　　　　　　　　　　/|　/　|ﾉ.　　＼
./　　　　　 /／＼∧/＼　　　/ .|ノ　　　 　{￣
</pre>
