<pre class="ascii-graphic">
                       ........    ........                     
                  ....                     ....                 
               .... ..                         ...              
            ...  ...                              ...           
          ...    .                                 ...         
         ..     .                                    ..         
       ..     ..                                     ..         
      ..     ...    .........                        ..   .     
     ...      .:;;::::::......::......               .    ..    
    ..       .:+xx:::..        ...:::::::..       ..:       .   
   ...      ..+XXx+:::.     ..:.....:::::::::.....          ..  
  ..      ..:+XXXxx;:.       ....::::::::::.           .     .. 
  .   .....:+XXXx;::.           ..::;x+::....          .      . 
 ..    ::::+XXxx+:.               .:xXx:. .::::       ..      ..
 ..     .;xXX+ .::.::;;::::..     :+x+;:...::;;;:.   ...      ..
 .        :$$+   :;+xxxx+;+++;::::;x+.  .:::::::::.   :.       .
 .        x$$X.  ;xxxxxxxxXXXxx+:.      .;+xxx+;:::...:.       .
 .       ;$&$X+;+xxxxxxXxxxxXXx+:      :x$$XXXXxxx;::::;.      .
 ..     .X&&$$XxxXXxxxxxxxXXXXxx+;;:::;x$$$$$XXxXx+::::::      .
 ..     .X&&&$XXXXXXxxxxXXXXXXXXXXXX$$$$$$$XXXxx+;:.::::+.    ..
  .      ;$&&$$$XXXxxxXXXX$$XXXXXX$$$$$$XXXxx+++;:. .:::;+    ..
  ..      x$$$XXXXXXXxXXX$$Xx++X$$XXXXxxx+;+xxx+::. ....:x:   . 
   .      ;XX+...:x$$$$$$$Xx+xXXXXxx+xxxxxXXXXxx+:. ....:;;. .. 
   ..     ::       .;x$$$x+;:.:+x;;;+xxxxXXXXXXx:.    ..::;;:.  
    ..    :          .x$xx;:  .:;;+xxxxxxxxxxxx;:.      .:::.   
     ..   .            :;::   ;;:+xxxxXXXxxXx+::.        .:.    
      ..  .:            ..  .;;::;+xxXXXXxxxx;:....     ...     
        .. .:              :;;;:::;xxXXxxxx+;:.        ..       
          ...;;..  ..:::::::::::::+xxxxx+++;::.       ..        
           ...  .;++++;::::::::::+xxxxx++:::::.     ..          
              ..  :++;;:::::::::;xXXx+::;;::::. ....            
                ...::.::::::::::+xxxx;.::::::::..               
                    .....::::::::::::::::::...                  
                         ...............                        
</pre>
