<pre class="ascii-logo ascii-graphic" aria-hidden="true">
@@@@@@@@@@   @@@   @@@@@@@   @@@@@@@@        @@@@@@@   @@@@@@@@  @@@  @@@ 
@@@@@@@@@@@  @@@  @@@@@@@@  @@@@@@@@@@       @@@@@@@@  @@@@@@@@  @@@  @@@ 
@@! @@! @@!  @@!  !@@       @@!   @@@@       @@!  @@@  @@!       @@!  @@@ 
!@! !@! !@!  !@!  !@!       !@!  @!@!@       !@!  @!@  !@!       !@!  @!@ 
@!! !!@ @!@  !!@  !@!       @!@ @! !@!       @!@  !@!  @!!!:!    @!@  !@! 
!@!   ! !@!  !!!  !!!       !@!!!  !!!       !@!  !!!  !!!!!:    !@!  !!! 
!!:     !!:  !!:  :!!       !!:!   !!!       !!:  !!!  !!:       :!:  !!: 
:!:     :!:  :!:  :!:       :!:    !:!  :!:  :!:  !:!  :!:        ::!!:!  
:::     ::    ::   ::: :::  ::::::: ::  :::   :::: ::   :: ::::    ::::   
 :      :    :     :: :: :   : : :  :   :::  :: :  :   : :: ::      :     
</pre>
