{% extends "_layout.html" %}

{%- block content -%}
<style>
  /*<![CDATA[*/
    {%~include "_ascii.css"~%}
    {%~include "_article.css"~%}
  /*]]>*/
</style>
<section class="article container">
  <h1>{{title}}</h1>
  <p>by mic0, dated: {{ date_str }}</p>
  <br />
  {{ content | safe }}
</section>
<section class="article-sig container">
  {% match signature_to_display %}
    {% when 0 %}
      {% include "ascii/01_article_sig.html" %}
    {% when 1 %}
      {% include "ascii/02_article_sig2.html" %}
    {% when 2 %}
      {% include "ascii/03_article_sig3.html" %}
    {% else %}
      {% include "ascii/01_article_sig.html" %}
  {% endmatch %}
  <p class="infobox">Read next: <a href="{{next_article_slug}}" title="{{next_article_title}}">{{ next_article_title }}</a></p>
</section>
<section class="container">
  <h2 class="breakline"><span>ATTRIBUTIONS</span></h2>
  <p style="opacity: 0.7;">ASCII art used in the article and the above signature was sourced from <a
      href="https://aahub.org" target="_blank" rel="nofollow noopener noreferrer" title="AAHUB homepage">AAHUB</a>.</p>
</section>
{%- endblock -%}
