<section class="container header">
  <div>
    <a class="no-underline" href="/">
      {%~ include "ascii/header_graphic.html" ~%}
    </a>
  </div>
  <div class="header-info">
    <br />
    <br />
    <br />
    <a class="no-underline" href="/">
      {%~ include "ascii/logo.html" ~%}
    </a>
    <br />
    <section>
      Find me on:
      <p>email: <span class="link">mic0 @ mic0.dev</span></p>
      <a href="https://x.com/0x0_mico" title="My X profile" target="_blank" rel="nofollow noopener noreferrer">[X]</a>
      <a title="My Telegram" href="http://t.me/OxO_mico" target="_blank" rel="nofollow noopener noreferrer">[Telegram]
      </a>
      <a title="Me on Signal"
        href="https://signal.me/#eu/AVK8svNJnCZCPj_gptNXI4NSWbiHnQvM9UCw8751ojKlZS-vyRxKUaV0t3EyPvE8" target="_blank"
        rel="nofollow noopener noreferrer">[Signal]</a>
      <a href="https://github.com/0x0-mico" title="My GitHub" target="_blank" rel="nofollow noopener noreferrer">
        [GitHub]</a>
      <a title="Me on Radicle"
        href="https://radicle.network/nodes/iris.radicle.network/users/did:key:z6MkpMqUpALed55HNfH9wxi9MuTv4x9Pt1AyL5VJNumehhPA"
        target="_blank" rel="nofollow noopener noreferrer">[Radicle]</a>
      <a title="Me on Lichess" href="https://lichess.org/@/m1co" target="_blank"
        rel="nofollow noopener noreferrer">[Lichess]</a>
    </section>
  </div>
</section>
