<section class="container header">
  <div>
    <a class="no-underline" href="/">
      {%~ include "ascii/header_graphic.html" ~%}
    </a>
  </div>
  <div class="header-info">
    <br />
    <br />
    <br />
    <a class="no-underline" href="/">
      {%~ include "ascii/logo.html" ~%}
    </a>
    <br />
    <section class="socials">
      Find me on:
      <a href="https://x.com/0x0_mico" target="_blank" rel="nofollow noopener noreferrer">[ X ]</a>
      <a href="https://github.com/0x0-mico" target="_blank" rel="nofollow noopener noreferrer">[ GitHub ]</a>
      <a href="https://www.linkedin.com/in/mitjabelak/" target="_blank" rel="nofollow noopener noreferrer">[ LinkedIn
        ]</a>
    </section>
    <p>email: <span class="link">mic0 @ mic0.dev</span></p>
  </div>
</section>