<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <title>{{ page_title }}</title>
  <meta name="description" content="{{page_description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="/public/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
  <link rel="shortcut icon" href="/public/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="mic0.dev" />
  <link rel="manifest" href="/public/site.webmanifest" />

  <link rel="canonical" href="https://mic0.dev">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="mic0.dev homepage">
  <meta property="og:image" content="/public/social_thumb.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:url" content="https://mic0.dev">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">

  
  <style>
    /*<![CDATA[*/
      {%~include "_layout.css"~%}
    /*]]>*/
  </style>
  <!-- <script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta6" -->
  <!-- integrity="sha384-6lyVbhrs13b9z7mLOpt/N6R76rtkEBWgCjAXRs/DSWyi2AMnQSs10ijWk+PI8n7W" -->
  <!-- crossorigin="anonymous"></script> -->
</head>

<body hx-boost="true">
  {%~ include "_header.html" ~%}
  <h2 class="breakline"><span>NAVIGATION</span></h2>
  {%~ include "_navigation.html" ~%}
  <p class="breakline"></p>
  {%~ block content %}{% endblock ~%}
  <p class="breakline"></p>
  {%~ include "_footer.html" ~%}
</body>

</html>
