{% extends "_layout.html" %}

{%- block content -%}
<section class="container">
  <p class="spaced-text">MICO<span>SUMMARY & CV</span>MICO(10)</p>
  <h2>
    NAME
  </h2>
  <h1 class="subtext">
    Mitja Belak - mic0 - Software Developer
  </h1>
  <h2>SYNOPSIS</h2>
  <p class="subtext">
    mico [--development, -d]</br>
    mico [--system, -s]</br>
  </p>
  <h2>DESCRIPTION</h2>
  <p class="subtext">
    I've worked in a wide breadth of
    industries ranging from e-commerce, smart cities, energy management, traditional and decentralized finance.
  </p>
  <p class="subtext">Available for contract or full-time work from September 2026. I'm looking for Rust backend or infra
    work.
    CET, Remote.
  </p>
  <section>
    <h2>OPTIONS</h2>
    <p class="subtext">
      --development, -d
    </p>
    <ul class="triplesubtext">
      <li><strong>Rust</strong>: my tool for fast, reliable and safe solutions</li>
      <li><strong>TS/JS</strong>: I've written a ton of it, I still do some FE work occasionally</li>
      <li><strong>Miden Assembly/Solidity/Solana (Anchor)</strong>: smart contract langs in order of experience</li>
    </ul>
    <p class="subtext">
      --system, -s
    </p>
    <ul class="triplesubtext">
      <li><strong>Linux</strong> (is) based; it's my daily driver and where my apps live</li>
      <li><strong>Systemd</strong> units and <strong>nginx</strong>, Docker where it's warranted</li>
      <li><strong>Postgres</strong> as the default database</li>
    </ul>
    <br>
  </section>
  <section>
    <h2>HISTORY</h2>
    <p class="subtext">
      <a href="https://www.zoroswap.com/">ZoroSwap</a><br>
      Jul 2025 to present (concurrently) - Co-founder
    </p>
    <p class="subtext">Co-founded the first propAMM & constant product AMMs on Miden Testnet.</p>
    <ul class="triplesubtext">
      <li>Prototyped, developed and maintained actively-priced and constant product AMMs</li>
      <li>Helped develop smart contracts in Miden Assembly (MASM)</li>
      <li>Developed and maintained the app</li>
    </ul>
    <br />
    <p class="subtext">
      <a href="https://www.nabla.fi/">Nabla Finance</a><br>
      Nov 2024 – Jan 2025 part‑time, full‑time from Feb 2025 - Full Stack Developer
    </p>
    <p class="subtext">Helped maintain and develop Nabla's actively priced AMM and its app on various EVM chains.</p>
    <ul class="triplesubtext">
      <li>Maintained and evolved the app for various EVM chains</li>
      <li>Developed and maintained in-house arbitrage bots with millions in volume</li>
      <li>Developed and maintained high-frequency oracle pricing</li>
    </ul>
    <br />
    <p class="subtext">
      <a href="https://www.bsdigital.com/">Boerse Stuttgart Digital</a><br>
      Aug 2021 to Jan 2025 - Senior Developer
    </p>
    <p class="subtext">Helped develop and maintain Bison App, the premier German app for trading cryptocurrencies
      and stocks with hundreds of thousands of users.</p>
    <ul class="triplesubtext">
      <li>Automated the CI/CD pipeline for dozens of app builds daily</li>
      <li>Implemented stock & ETF trading on the app</li>
      <li>Helped train new developers and cleaned up the codebase</li>
    </ul>
    <br />
    <p class="subtext">
      <a href="https://smartis.si/">SmartIS</a><br>
      Oct 2015 to Jul 2021 - Lead Frontend Developer
    </p>
    <p class="subtext">I led the app development of applications that SmartIS was undertaking, most notably:</p>
    <ul class="triplesubtext">
      <li>Tango app for Petrol, the largest Slovenian gas & electricity company; the app was responsible for measuring,
        plotting and controlling millions of sensors for efficient energy management.</li>
      <li>SmartIS City: a smart city platform used by several Slovenian municipalities for aggregating sensor data,
        plotting it and
        measuring its KPIs as well as giving the citizens a way to voice their thoughts.</li>
      <li>Led app development of SmartZVOP; an application for business to track their compliance with GDPR and ZVOP
        legislation in a granular way (per document and per customer).</li>
    </ul>
    <br />
    <p class="subtext">
      <a href="https://simbiont.si/">Simbiont</a>, <a href="https://www.plenum.si/">Plenum</a>, Freelance<br>
      Oct 2013 to Oct 2015 - Web App Developer
    </p>
    <ul class="triplesubtext">
      <li>Developed and maintained dozens of websites and webshops for various clients.</li>
    </ul>
    <br />
  </section>
  <section>
    <h2>SEE ALSO</h2>
    <ul class="subtext">
      <li><a href="https://github.com/0x0-mico" target="_blank" title="My articles">https://mic0.dev/articles</a></li>
      <li><a href="https://github.com/0x0-mico" target="_blank" rel="nofollow noopener noreferrer"
          title="Me on GitHub">https://github.com/0x0-mico</a></li>
      <li><a href="https://www.linkedin.com/in/mitjabelak/" target="_blank" rel="nofollow noopener noreferrer"
          title="Me on LinkedIn">https://www.linkedin.com/in/mitjabelak/</a>
      </li>
    </ul>
  </section>
  <p class="spaced-text"><span></span> <span>
      MICO(10)
    </span>
  </p>
</section>
{%- endblock -%}