{% extends "_layout.html" %}

{%- block title -%}
mic0.dev - CV
{%- endblock -%}

{%- block content -%}
<section class="container">
  <p class="spaced-text">MICO<span>SUMMARY & CV</span>MICO(10)</p>
  <h2>
    NAME
  </h2>
  <h1 class="subtext">
    Mitja Belak - mic0 - Software Developer & DevOps
  </h1>
  <h2>SYNOPSIS</h2>
  <p class="subtext">
    mico [--development, -d]</br>
    mico [--system, -s]</br>
  </p>
  <h2>SUMMARY</h2>
  <p class="subtext">
    I've worked in a wide berth of
    industries,
    ranging from e-commerce, smart cities, energy management, traditional and decentralized finance. Software gives me
    the power to create something out of nothing and
    connect it via the network to anyone; this is the magic I see in software development.
  </p>
  <section>
    <h2>OPTIONS</h2>
    <p class="subtext">
      --development, -d
    </p>
    <ul class="triplesubtext">
      <li><strong>Rust</strong>: my tool for fast, reliable and safe solutions</li>
      <li><strong>TS/JS</strong>: i've written a ton of it, I still do some FE work occasionally</li>
      <li><strong>Miden Assembly/Solidity/Solana </strong>: smart contract langs in the order of experience</li>
    </ul>
    <p class="subtext">
      --system, -s
    </p>
    <ul class="triplesubtext">
      <li><strong>Linux</strong> (is) based; It's my daily driver and where my apps live</li>
      <li>I've run production tested <strong>Blockchain</strong>-centric solutions</li>
      <li>I have a ton of experience in <strong>Custom web</strong> apps / web shops</li>
      <li>No stranger to <strong>CI/CD</strong> pipelines and automation</li>
      <li>No stranger to automated <strong>monitoring & alerting</strong> either</li>
    </ul>
    <br>
  </section>
  <section>
    <h2>HISTORY</h2>
    <p class="subtext">
      <a href="https://www.zoroswap.com/">ZoroSwap</a><br>
      Jul, 2025 to Aug, 2026 - Co-founder <em>(1 year)</em>
    </p>
    <p class="subtext">Developed and maintained the first propAMM & constant-product AMMs on Miden Testnet.</p>
    <br>
    <ul class="triplesubtext">
      <li>Developed and maintained actively-priced AMM</li>
      <li>Helped develop smart contracts in Miden Assembly (MASM)</li>
      <li>Developed and maintained the app</li>
    </ul>
    <br />
    <p class="subtext">
      <a href="https://www.nabla.fi/">Nabla Finance</a><br>
      Nov 2024 to Aug, 2026 - Full Stack Developer <em>(2 years)</em>
    </p>
    <br />
    <p class="subtext">Helped maintain and develop Nabla's actively priced AMM and its app on various EVM chains</p>
    <ul class="triplesubtext">
      <li>Developed and maintained high frequency oracle pricing</li>
      <li>Developed and maintained in-house arbitrage bots</li>
    </ul>
    <br />
    <p class="subtext">
      <a href="https://www.bsdigital.com/">Boerse Stuttgart Digital</a><br>
      Aug 2021 to Jan, 2025 - Senior Developer <em>(3 years)</em>
    </p>
    <br />
    <p class="subtext">Helped develop and maintain Bison App, the premier German app for trading cryptocurrencies
      and stocks.</p>
    <ul class="triplesubtext">
      <li>Automated the CI/CD pipeline</li>
      <li>Implemented stocks trading on the app.</li>
      <li>Helped train new developers and cleaned the codebase.</li>
    </ul>
    <br />
    <p class="subtext">
      <a href="https://smartis.si/">SmartIS</a><br>
      Oct 2015 to Jul, 2021 - Lead Frontend Developer <em>(6 years)</em>
    </p>
    <br />
    <p class="subtext">I led the app development of applications that SmartIS was undertaking, most notably:</p>
    <ul class="triplesubtext">
      <li>Tango app for Petrol, the largest Slovenian gas & electricity company, App was responsible for measuring,
        plotting and controlling millions of sensors for efficient energy management.</li>
      <li>SmartIS City: a smart city platform for aggregating sensoric data, plotting it and
        measuring its KPIs as well as giving the citizens a way to voice their thoughts.</li>
      <li>Led app development of SmartZVOP; an application for business to track their compliance with GDPR and ZVOP
        legislation in a granular way (per document and per customer).</li>
    </ul>
    <br />
    <p class="subtext">
      <a href="https://simbiont.si/">Simbiont</a>, <a href="https://www.plenum.si/">Plenum</a>, Freelance<br>
      Oct 2013 to Oct, 2015 - Web App Developer <em>(2 years)</em>
    </p>
    <br>
    <ul class="triplesubtext">
      <li>Developed and maintained a bunch of websites and webshops.</li>
    </ul>
    <br />
  </section>
  <p class="spaced-text"><span></span> <span>
      MICO(10)
    </span>
  </p>
</section>
{%- endblock -%}
